@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lato:wght@400;700&display=swap');

.main{
    background-color: #8A1538;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}


.left{
    flex: 1;
    margin-left: 50px;
    
    /*background: lightgreen;
    height: 100%;
    */
}

.right{
    width: 40%;
    /*background: lightblue;
    height: 100%;*/
}

.buttonGroup{
    margin-left: 70px;
    text-align: left;
}

.buttonGroup span{
    display:inline-block
}

.uploadFileBtn{
    margin-right: 10px;
}
.h1Style{
    margin-bottom: 20px;
    color: #f8c24f;
    text-align: left;
    margin-top: 50px;
    margin-left: 70px;
}

.h3Style{
    color: #f8c24f;
    margin-top: 150px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.studentDataTab{
    margin-top: 50px;
}

.buttonGroup2 {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    /*justify-content: center;*/
}

.button {
    margin-bottom: 15px;
}

.addUser{
    position: fixed;
    left:36%;
    top: 25%
}

.modal{
    position: relative;
    overflow-y: auto;
    max-height: 500px;
    padding: 15px;
}


.table{
    background-color: #ffffff;
    /*border-radius: 10px;*/
    border-style: hidden;
    /*margin-bottom: 20px;*/
    /*margin-top: 30px;*/
    /*margin-right: 20px;*/
}


.row{
    border-bottom-style: hidden;
}
