.container {
    background-color: white;
    width: 500px;
    height: 350px; 
    border-radius: 4%;
    box-shadow: 0 0 10px #000000
}

.button1{
    color: white;
    background-color: #8A1538;
    margin-top: 20px;
    margin-left: 400px;
    border-radius: 10%;
}
.LogInElement{
    margin-top: 20px;
    width: 250px;
    height: 30px;
    /* padding-left: 10px; */
    border: 1px solid grey;
    border-radius: 8px;
    background-color: white;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 0.5px;
}
.LogInElement:focus {
    outline: none;
    box-shadow: 0 0 10px #000000;
}

.LogInButton{
    /* font-size: 16px; */
    letter-spacing: 0.5px;
    margin-top: 20px;
    padding-bottom: 2px;
    width: 80px;
    height: 40px;
    background-color: #8A1538;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    transition-duration: 0.4s;
    /* font-family: 'Lato', sans-serif; */
    font-weight: 400;
}

.LogInButton:hover {
    background-color: #f8c24f; /* Green */
    color: #0b4838
}
