.container {
  position: absolute;
  top: 14%;
  left: 10%;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.body {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 19px;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.message {
  justify-content: center;
  justify-items: center;
}