/* Global styles */
:root {
	--color-black: rgb(0, 0, 0);
	--color-grey: rgb(109, 125, 139);
	--color-light-grey: rgb(187, 200, 212);
	--color-very-light-grey: rgb(218, 227, 234);
	--color-blue: rgb(90, 79, 243);
	--color-green: #0b4838;
	--color-yellow: rgb(255, 187, 0);
	--color-red: #8A1538;
	--color-dark-red: rgb(178, 74, 59);
	--color-white: rgb(255, 255, 255);
	--color-teal: rgb(116, 183, 172);
	--color-brand-default: rgb(255, 165, 0);
	--color-brand-lighter: rgb(255, 197, 92);
	--color-brand-darker: rgb(163, 106, 0);
	--color-brand-dark: rgb(0, 0, 0);
}

* {
	box-sizing: border-box;
}