.studentRec{
    background-color: #8A1538;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.header{
    /*margin: 50px 200px 50px 200px;*/
    margin-top: 100px;
    margin-bottom: 0px;
    width: 100%;
    height: 40%;
    position: relative;
}

.left {
    margin-left: 250px;
    float: left;
}

.right {
    padding-top: 20px;
    margin-right: 250px;
    float: right;
}

.btns{
    margin-top: 10px;
}

.studentDetails {
    text-align: left;
    color: white;
    /*background-color: #E5E5E5;*/
    /*padding: 20px 30px 20px 30px;*/
    margin-bottom: 20px;
    font-size: 18px;
    /*border-radius: 10px;*/
}

.studentName{
    font-size: 30px;
    color: #f8c24f;
    text-align: left;
}

.studentCourse{
    font-size: 24px;
    font-weight: 400;
    color: #f8c24f;
    text-align: left;
}

.tableWrapper {
    position:relative;
    margin: 0px 200px 50px 200px;
}

.table{
    background-color: #E5E5E5;
    border-radius: 10px;
    border-style: hidden;
    margin-top: 30px;
    /*margin-right: 20px;*/
}

/*main cancel and save button*/
#cancelSave > button{
    height: 100px;
}

.prompt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: var(--color-white);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

[id^=editNotes][id$=editNotes]{
    height:75vh;
    width:75vw;
}

[id^=semesterInput][id$=semesterInput]{
    min-width: 100px;
}

.prompt > div {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.prompt > div > p {
    padding: 20px;
    overflow: scroll;
    width: 100%;
    vertical-align: bottom;
    filter: brightness(90%);
}

.prompt > button{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px 20px;
}

/*EditStudentRecord style*/
    button[id$='_edit'] {
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff;
        border-radius: 5px;
        background: var(--color-green);
    }

    button[id$='_delete'] {
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff;
        border-radius: 5px;
        background: var(--color-red);
    }
    
    button[id$='_add'] {
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff;
        border-radius: 5px;
        background: var(--color-green);
    }

    button[id$='_submit'] {
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff;
        border-radius: 5px;
        background: var(--color-green);
    }

    button[id$='_cancel'] {
        margin-left: 5px;
        margin-right: 5px;
        color: #ffffff;
        border-radius: 5px;
        background: var(--color-grey);
    }

    .finalize {
        width: 50%;
        border-radius: 10px;
        padding: 10px 20px;
    }

    button[id='mainSave']{
        background-color: var(--color-green);
        color: var(--color-white);
    }

    button[id='mainCancel']{
        background-color: var(--color-white);
        color: var(--color-red);
    }